/* PRELOADER */
#preloader {
  position: fixed;
  z-index: 9999;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: #f2f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 24px;
}

/* PRELOADER ANIMATION */
.loader {
  width: 60px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask: 
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
    linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
    linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
  mask: 
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
    linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
    linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: l19 2s infinite linear;
}
@keyframes l19 {
    90%,100% {background-size:100% 100%}
}

.loader-text {
  margin-left: 24px;
  font-size: 1.2rem;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #a11c27;
  font-weight: bold;
  animation: pulseText 1.2s infinite;
}

@keyframes pulseText {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0.4; }
}
